<div class="courses">
    <div class="course-card" [style]="titleStyle()">

        <div class="course-title">
            {{index}} {{ course.description.toUpperCase() }}
        </div>

        <div class="course-category">
            @switch (course.category) {
            @case ("BEGINNER") {
            <div class="category">Beginner</div>
            }
            @case ("INTERMEDIATE") {
            <div class="category">Intermediate</div>
            }
            @case ("ADVANCED") {
            <div class="category">Advanced</div>
            }
            @default {
            <div class="category">Unknown</div>
            }
            }
        </div>

        @if(course.id == 1){
        <h2>Course with ID 1 detected!</h2>
        }

        <ng-content #blackImage></ng-content>

        @if (isImageVisible()) {
        <br>
        <app-course-image [scr]="course.iconUrl"></app-course-image>
        }
        @else {
        <ng-template #blackImage>
            <p style="color: red;">No image available now..</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png?20210521171500" />
        </ng-template>
        }

        <div class="course-description">
            {{ course.longDescription }}
        </div>

        <br>
        <button (click)="onCourseViewed()">View Course</button>

    </div>
</div>